# Игнорирование виртуальной среды
.venv/
venv/
env/
__pycache__/

# Игнорирование папки с результатами
user/

# Игнорирование конкретных файлов
main.py
main4.py

# Игнорирование временных файлов и системных артефактов
*.pyc
*.pyo
*.log
*.tmp
.DS_Store
Thumbs.db

# Игнорирование файлов IDE и редакторов
.vscode/
.idea/
